<template>
  <div>
    <MyHeader></MyHeader>
    <div class="container" id="app">
      <router-view />
    </div>
  </div>
</template>

<script>
import MyHeader from './components/Header.vue'

export default {
  name: 'app',
  components: {
    MyHeader
  },
}
</script>

<style>
  #app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  body {
    background-color: #f8f8f8 !important;
  }

  .delete {
      position: absolute;
      cursor: pointer;
      right: 20px;
      color: gray;
      border: 1px solid #d4c4c4;
      padding: 0px 10px 4px 10px;
      border-radius: 30px;
  }

  .delete:hover {
      color: #41B883;
      border-color: #41B883;
  }

  .btn-success {
    background-color: #41B883 !important;
    border-color: #41B883 !important;
    margin: 2px;
  }

  .btn-success:hover {
      background-color: #41B883 !important;
      border-color: #41B883 !important;
  }

  input[type="checkbox"] { 
        display: none; 
  }

  input[type="checkbox"] + label {
      display: block;
      position: relative;
      padding-left: 35px;
      font: 14px/20px 'Open Sans', Arial, sans-serif;
      color: #ddd;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
  }

  input[type="checkbox"] + label:last-child { 
      margin-bottom: 0; 
  }

  input[type="checkbox"] + label:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border: 1px solid #28a745;
      position: absolute;
      left: 0;
      top: 0;
      -webkit-transition: all .12s, border-color .08s;
      transition: all .12s, border-color .08s;
  }

  input[type="checkbox"]:checked + label:before {
      width: 10px;
      top: -5px;
      left: 5px;
      border-radius: 0;
      opacity: 1;
      border-top-color: transparent;
      border-left-color: transparent;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
  }
</style>
