<template>
    <div class="goods-block">
        <input type="checkbox" :id="goods.id" v-model="checked">
        <label :for="goods.id"></label>
        <img class="img" :src="goods.src" />
        <div class="text-block">
            <p class="name">{{ goods.name }}</p>
            <p class="price">{{ goods.price }} руб.</p>
            <Counter @plus="count++" @minus="count--" :count="count"> </Counter>
        </div>
        <span class="delete" @click="deleteGoods">x</span>
    </div>
</template>

<script>
import Counter from './Counter.vue'
export default {
    name: 'basketGoods',
    props: ["goods", "flag"],
    components: {
        Counter
    },
    data() {
        return {
            count: this.goods.count,
            checked: false,
        }
    },
    watch: {
        count: function () {
            this.$store.commit('changeCount',{id: this.goods.id, count: this.count});
            if (this.checked) {
                this.$store.commit('calculate', {id: this.goods.id, checked: true});
            }
        },

        checked: function () {
            this.$store.commit('calculate', {id: this.goods.id, checked: this.checked});
        },

        flag: function () {
            this.checked = this.flag;
            this.$store.commit('calculate', {id: this.goods.id, checked: this.checked});
        }
    },
    methods: {
        deleteGoods: function () {
            this.$store.commit('calculate', {id: this.goods.id, checked: false});
            this.$store.commit('deleteGoods', {id: this.goods.id});
        },
    }
}
</script>

<style scoped>
    .goods-block {
        display: flex;
        position: relative;
        max-height: 245px;
        background-color: #fff;
        border-radius: 8px;
        padding: 30px;
        border: 1px solid #e9e9e9;
        margin-bottom: 20px;
    }

    .delete {
        right: 40px;
    }

    .img {
        max-width: 90px;
    }

    .text-block {       
        padding: 20px;
        text-align: left;
    }

    .price {
        font-weight: 800;
    }

    .name {
        font-weight: 600;
        font-size: 18px;
    }
</style>