<template>
  <div class="container">
    <div class="goods">
      <div class="title-block">
        <h3 class="title">Корзина</h3>
        <input type="checkbox" id="all" v-model="flag">
        <label class="label name" for="all">Выбрать все</label>
      </div>
      <BasketGoods v-for="(goods, index) in basketGoods" :key="index" :goods="goods" :flag="flag"> </BasketGoods>
    </div>
    <div class="price">
      <h3>Сумма заказа</h3>
      <p class="amount">{{ price }} руб.</p>
      <button @click.prevent="" class="btn btn-success buy">Купить</button>
    </div>
  </div>
</template>

<script>
import BasketGoods from './BasketGoods.vue'
export default {
  name: 'basket',
  components: {
    BasketGoods,
  },
  data() {
    return {
      flag: false,
    }
  },
  computed: {
    basketGoods: function () {
      return this.$store.getters.getBasketGoods;
    },

    price: function () {
      return this.$store.getters.getAmount.price;
    }
  },
}
</script>

<style scoped>
  .container {
    margin-top: 20px;
  }

  .title-block {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    border: 1px solid #e9e9e9;
    margin-bottom: 20px;
  }

  .title {
    text-align: left;
    margin-bottom: 20px;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .goods {
    width: 60%;
  }

  .price {
    width: 30%;  
    max-height: 245px;
    padding: 15px;  
    border: 1px solid #e9e9e9;
    background-color: #fff;
    border-radius: 8px;
  }

  .amount {
    margin-top: 40px;
    font-size: 23px;
    font-weight: 600;
  }

  .buy {
    width: 80%;
    margin-top: 40px;
  }

  .label {
    width: 180px;
    display: flex;
    color: #35495E !important;
    font-size: 18px;
  }
</style>

