<template>
  <div class="col-md-3 product" :id='product.id'>
    <div class="photo-block">
      <a href="" class="photo-link">
        <img :src="product.src" class="photo" />
      </a>
    </div>
    <div class="name">{{ product.name }}</div>
    <span class="price">{{ product.price }} руб.</span>
     <div>
        <button @click.prevent="showModal = !showModal" class="btn btn-success">В корзину</button>
        <button class="btn customBtn like" :class="{active: isActive}" @click.prevent="like"></button>
     </div>
     <transition name="fade">
        <modal v-if="showModal" :product="product" @close-window="showModal = !showModal"> </modal>
      </transition>
  </div>
</template>

<script>
import modal from './Modal.vue'
 
export default {
  name: 'CatalogItem',
  props: ["product"],
  components: {
    modal
  },

  data () {
    return {
      isActive: false,
      showModal: false,
    }
  },

  created () {
    let arrGoods = JSON.parse (localStorage.getItem ("elem"));
    if (arrGoods != null) {
        for(let i = 0; i < arrGoods.length; i++) {
            if (this.product.id == arrGoods[i].id) {
                this.isActive = !this.isActive;
            }
        }
    }
  },

  computed: {
    changer: function () {
      return this.$store.getters.getGoodsId;
    },
  },

  watch: {
    changer: function (newValue) {
      if (newValue == this.product.id) {
        this.isActive = false;
      }
    }
  },

  methods: {
    like: function () {
        this.isActive = !this.isActive;
        this.product.date = this.moment().format('YYYY-MM-DD HH:mm');
        if (this.isActive) {
            this.$store.commit('updateGoods', {product: this.product, addTo: 'like'});
        }
        else {
            this.$store.commit('deleteGoods', {id: this.product.id, delete: 'like'});
        }
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .photo-block {
    height: 13.4rem;
  }

  .photo-link {
    display: block;
    position: relative;
    height: 100%;
  }

  .photo {
    display: block;
    margin: 0 auto;
    max-height: 100%;
  }

  .name {
    padding: 20px 0px 0px 0px;
    overflow: hidden;
    position: relative;
    font-size: 1.3rem;
    color: #000;
    line-height: 2.2rem;
  }

  .product {
    padding: 30px;
  }

  .product:hover {
    box-shadow: 0 0 20px rgba(0,0,0,.1);
  }

  .price {
    font-weight: 800;
  }

  .like {
      width: 48px;
      height: 38px; 
      background-image: url("/img/like2.svg");
      background-color: #35495E; 
      background-repeat: no-repeat;
      background-position: center;
  }

  .active {
      transition: 0.3s;
      background-image: url("/img/like-green.svg") !important;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
  }

  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }
</style>
