<template>
    <div class="row">
        <CatalogItem v-for="product in goods.catalog" :key="product.id" :product="product" ></CatalogItem>
    </div> 
</template>

<script>
import CatalogItem from './CatalogItem.vue'
import catalogJson from '../catalog.json'

export default {
  name: 'CatalogList',
  components: {
    CatalogItem,
  },
  data () {
    return {
      goods: catalogJson,
    }
  },
}
</script>

