<template>
    <div class="counter">
        <span class="symbol minus" @click="minus">-</span>
        <input v-model="count" class="count" type="number" aria-valuemax="100" aria-valuemin="1" height="100%" autocomplete="off">
        <span class="symbol" @click="$emit('plus')">+</span>
    </div>
 </template>

<script>
export default {
    name: 'counter',
    props: ["count"],
    methods: {
        minus: function () {
            if (this.count > 1) {
                this.$emit('minus');
            }
        }
    }
}
</script>

<style scoped>
.minus {
    padding: 0px 11px 0px 11px !important;
}

.symbol {
    font-size: 18px;
    border-radius: 30px;
    padding: 1px 9px 1px 9px;
    border: 1px solid #80808054;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.counter {
    display: flex;
    margin-bottom: 15px;
}

.count {
    width:30px;
    text-align: center;
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    font-weight: 400;
    vertical-align: middle;
    background-color: transparent;
}

.count::-webkit-outer-spin-button,
.count::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
    -moz-appearance: textfield;
}
</style>

