<template>
      <div class="goods-block">
        <img class="img" :src="goods.src" />
        <div class="text-block">
            <p class="name">{{ goods.name }}</p>
            <p class="price">{{ goods.price }} руб.</p>
            <p class="date">Добавлено:  {{ time }}</p>
            <button class="btn btn-success" @click.prevent="addToBasket">В корзину</button>
        </div>
        <span class="delete" @click="$store.commit('deleteGoods', {id: goods.id, delete: 'like'});">x</span>
      </div>
</template>

<script>

export default {
    name: 'DropdownGoods',
    props: ["goods"],
    data () {
        return {
            time: null,
        }
    },
    created () {
        this.time = this.time = this.moment(this.goods.date);
        setInterval(() => this.time = this.moment(this.goods.date).fromNow(), 60000);
    },

    watch: {
        time: function () {
            if (this.moment(this.goods.date).add(1, 'hours').format('YYYY-MM-DD HH:MM') < this.moment().format('YYYY-MM-DD HH:MM')) {
                this.time = "Сегодня в " + this.moment(this.goods.date).format('HH:MM');
            } else {
                this.time = this.moment(this.goods.date).fromNow();
            }

            if (this.moment(this.goods.date).add(1, 'day').format('YYYY-MM-DD') == this.moment().format('YYYY-MM-DD')) {
                this.time = "Вчера в " + this.moment(this.goods.date).format('HH:MM');
            }

            if (this.moment(this.goods.date).add(1, 'day').format('YYYY-MM-DD') < this.moment().format('YYYY-MM-DD')) {
                this.time = this.moment(this.goods.date).format('YYYY-MM-DD') + " в " + this.moment(this.goods.date).format('HH:MM');
            }
        }
    },
    methods: {
        addToBasket: function () {
            this.$store.commit('updateGoods', {product: this.goods});
            this.$store.commit('deleteGoods', {id: this.goods.id, delete: 'like'});
            this.$store.commit('calculate');
        }
    }
}

</script>

<style scoped>

.goods-block {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #d4caca;
}

.img {
    max-height: 115px;
}

.text-block {
    margin-left: 20px;
}

.name {
    font-size: 1.3rem;
    color: #000;
    margin-bottom: 0px;
}

.price {
    font-weight: 800;
}

.date {
    position: absolute;
    right: 20px;
    font-size: 13px;
    color: #b5aaaa;
}
</style>
