<template>
    <div class="header-outer">
        <div class="header container">
            <div>
                <router-link to="/"><img class="logo" src="img/logo.png" /></router-link>
            </div>
            <div class="head-right">
                <div class="icon"> 
                    <router-link to="basket"><span class="icon-text">Корзина</span> </router-link>
                    <span class="cart-number" id="nav-cart-num">{{ basketGoodsCount }}</span>
                </div>
                <div class="icon like"> 
                    <a @click.prevent="isActive = !isActive" href=""><span class="icon-text">Желания</span></a>
                    <span class="cart-number list-item" id="nav-cart-num">{{ goodsCount }}</span>
                    <transition name="slide-fade">
                        <div v-if="isActive" class="dropDown">
                            <h3>Мои желания</h3>
                            <DropdownGoods v-for="(goods, index) in likeGoods" :key="index" :goods="goods" :isActive="isActive"></DropdownGoods>
                        </div>
                    </transition>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import DropdownGoods from './DropdownGoods.vue'

export default {
  name: 'MyHeader',
  components: {
    DropdownGoods
  },
  data () {
      return {
          isActive: false,
      }
  },

  computed: {
    goodsCount: function () {
        if (this.$store.getters.getGoods == null) {
            return 0;
        }
        else {
            return this.$store.getters.getGoods.length;
        }
    },

    basketGoodsCount: function () {
        if (this.$store.getters.getBasketGoods == null) {
            return 0;
        }
        else {
            return this.$store.getters.getBasketGoods.length;
        }
    },

    likeGoods: function () {
        return this.$store.getters.getGoods;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .3s;
}

.slide-fade-enter, .slide-fade-leave-to {
    opacity: 0;
    -webkit-transform: translateY(40%) !important;
    -moz-transform: translateY(40%) !important;
}

.header-outer {
    background-color: white;
    border-bottom: 1px solid #e9e9e9;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
}

.head-right {
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 65px;
}

.basket {
    position: relative;
}

.icon {
    position: relative;
    display: block;
    padding: 18px 0 0 38px;
    z-index: 3;
}

.icon a {
    text-decoration: none;
    color: black;
}

.icon a:before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-image: url(/img/basket.svg);
    background-repeat: no-repeat;
}

.icon:first-child:hover a:before {
    background-image: url(/img/basket2.svg) !important;
} 

.icon-text {
    max-width: 55px;
}

.like:hover a::before {
    background-image: url(/img/like2.svg);
}

.like:hover a, .icon:hover a{
    color: #41B883;
} 

.like {
    margin-left: 20px;
    cursor: pointer;
}

.like a:before {
    background-image: url(/img/like.svg);
}

.cart-number {
    position: absolute;
    top: 6px;
    left: 38px;
    padding: 0 2px;
    min-width: 25px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 8px;
    background-color: #35495E;
    color: #fff;
    font-size: 12px;
}

.dropDown {
    width: 600px;
    max-height: 500px;
    overflow: auto;
    top: 100%;
    right: 0%;
    padding: 20px;
    position: absolute;
    z-index: 99;
    background-color: white; 
    border: 1px solid #8080804d;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
}
</style>
