<template>
    <div class="modal">
        <div class="customModal">
            <div class="customModalTitle">
                <button class="close" @click="$emit('close-window')">&times;</button>
                Добавить в корзину
            </div>
            <div class="customModalBody row">
                <img class="col-md-3 modalImg" :src="product.src" />
                <div class="col-md-6">
                    <p class="name">{{ product.name }}</p>
                    <Counter @plus="count++" @minus="count--" :count="count"> </Counter>
                    <p class="price">Цена: {{ product.price * count}} руб.</p>
                    <router-link v-if="linkActive" to="basket"><button class="btn btn-success toBasket" >Перейти в корзину</button></router-link>
                    <button v-else class="btn btn-success" @click.prevent="addToBasket">Добавить</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Counter from './Counter.vue'

export default {
    name: 'modal',
    components: {
        Counter
    },
    props: ["product"],
    data () {
        return {
            count: 1,
            linkActive: false,
            basketElem: this.$store.getters.getBasketGoods,
        }      
    },
    created() {
        this.linkToBasket();  
    },
    watch: {
        basketElem: function () {
            this.linkToBasket();            
        }
    },
    methods: {
        addToBasket: function () {
            this.product.count = this.count;
            this.$store.commit('updateGoods', {product: this.product});
        },
        linkToBasket() {
            if (this.basketElem != null) {
                for(let i = 0; i < this.basketElem.length; i++) {
                    if (this.basketElem[i].id == this.product.id) {
                        this.linkActive = true;
                    }
                }
            } 
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.modalImg {
    margin-left: 60px;
} 

.name {
    font-size: 20px;
    font-weight: bold;  
}

.price {
    font-size: 18px;
    font-weight: bold;
}

.modal {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    background-color: #00000096;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    transform: translateY(0%);

}

.customModal {
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.4);
    left: calc(50vw - 300px);
    position: absolute;
    z-index: 999;
    width: 600px;
    top: 25vh;
    border-radius: 5px;
    overflow: hidden;
}

.customModal .customModalTitle {
    background-color: #eee;
    text-align: left;
    padding: 8px 12px;
    font-size: 1.5em;
}

.customModal .customModalTitle .close {
    line-height: 32px;
    color: #5c4084;
}

.customModal .customModalBody {
    background-color: #fff;
    padding: 8px 12px;
    text-align: left;
    padding: 12px;
}

.customModalBody {
    display: flex;    
}

.customModal .customModalFooter {
    background-color: #eee;
    padding: 4px 12px;
    text-align: left;
}

.toBasket {
    background-color: #35495E !important;
    border-color: #35495E !important;
}
</style>
